* {
  box-sizing: border-box
}

html, body {
  overflow: hidden;
  margin: 0;
  padding: 0;
  text-shadow: 0 0 1px white;
  background-color: white;
}

canvas {
  position: absolute;
  width: 100%;
  height: 100%;
}

.main {
  font-family: sans-serif;
  display: block;
  position: relative;
  z-index: 1;
  max-width: 75em;
  margin: 0 auto;
  padding: 1em 2em;
  height: 100%;
  overflow: auto;
}

a {
  display: inline-block;
  text-decoration: none;
  transition: all 0.3s ease-out;
  padding: 0.35rem 0.45rem;
  margin: -0.35rem -0.45rem;
  border-radius: 0.5rem;
}

a:hover {
  background-color: rgba(0, 50, 100, 0.5);
  color: white;
  border-radius: 0.5rem;
  box-shadow: 0 0 2px 2px rgba(0, 50, 100, 0.2);
}

.links {
  float: right;
  text-align: right;
}

.links ul {
  list-style: none;
  margin: 0 0.45rem 1.5rem 2rem;
}

li {
  margin: 0.35cm 0;
}

.links li {
  font-variant: all-small-caps;
  font-weight: bold;
  font-size: 1.1em;
}

li a:hover .hint {
  transform: translateX(-100%) scaleX(1);
  opacity: 1;
  font-variant: normal;
}

abbr[title] {
  text-decoration: none;
}

.hint {
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0.45rem;
  padding-right: 0.75rem;
  transform: translateX(0) scaleX(0);
  color: #6d5e5e;
  transition: all 0.3s ease-out;
  opacity: 0;
  font-size: 0.95rem;
  font-weight: normal;
}

li:first-child {
  margin-top: 0;
}

.links a {
  display: inline-block;
  position: relative;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  white-space: nowrap;
  vertical-align: middle;
}

h1 {
  position: relative;
  overflow: hidden;
  border-bottom: 1px lightgray solid;
  padding-bottom: 0.3em;
  color: white;
  text-shadow: -1px -1px 0 gray, 0 -1px 0 gray, 1px -1px 0 gray, 1px 0 0 gray, 1px 1px 0 gray, 0 1px 0 gray, -1px 1px 0 gray, -1px 0 0 gray;
}

h1 a {
  transition: none;
  text-shadow: none;
}

h1 a:hover {
  background-color: rgba(255, 255, 255, 0);
  color: initial;
  box-shadow: none;
}

.subtitle {
  position: relative;
  z-index: -1;
  display: inline-block;
  animation: appear 0.5s ease forwards;
  transform: translateX(-100%);
  color: rgba(0, 50, 100, 0.5);
  text-shadow: 0 0 3px white;
}

@keyframes appear {
  100% {
    transform: translateX(0)
  }
}

.aka {
  position: relative;
  opacity: 0;
  color: rgba(0, 50, 100, 0.5);
  transition: all 0.5s ease;
  text-shadow: 0 0 3px white;
}

.main-title:hover .aka {
  opacity: 1;
}

.avatar {
  float: left;
  margin-right: 1em;
  margin-bottom: 1em;
}
