html, body {
  overflow: hidden;
}

.main {
  font-family: sans-serif;
  display: block;
  max-width: 75em;
  margin: auto;
  padding: 1em 2em;
  overflow: hidden;
}

p {
  font-weight: lighter;
}

a {
  text-decoration: none;
  transition: all 0.2s ease;
}

a:hover {
  background-color: rgba(0, 50, 100, 0.5);
  padding: 0.35rem 0.45rem;
  margin: -0.35rem -0.45rem;
  color: white;
  border-radius: 0.5rem;
}

.links {
  float: right;
  text-align: right;
}

.links ul {
  list-style: none;
  margin: 0;
  margin-right: 0.45rem;
}

li {
  margin: 0.35cm 0;
}

li a:hover .hint {
  transform: translateX(-100%) scaleX(1);
  color: rgba(0, 50, 100, 0.5);
}

.hint {
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0.25em;
  padding-right: 0.75em;
  transform: translateX(0) scaleX(0);
  color: rgba(255, 255, 255, 0);
  transition: all 0.3s ease;
}

li:first-child {
  margin-top: 0;
}

.links a {
  position: relative;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  white-space: nowrap;
}

h1 {
  position: relative;
  overflow: hidden;
  border-bottom: 1px lightgray solid;
  padding-bottom: 0.3em;
}

h1 a {
  color: initial;
  transition: none;
}

h1 a:hover {
  background-color: rgba(255, 255, 255, 0);
  color: initial;
}

.main-title {
  background-color: white;
}

.subtitle {
  position: relative;
  z-index: -1;
  display: inline-block;
  animation: appear 0.5s ease forwards;
  transform: translateX(-100%);
  color: rgba(0, 50, 100, 0.5);
}

@keyframes appear {
  100% {
    transform: translateX(0)
  }
}

.aka {
  position: relative;
  color: rgba(255, 255, 255, 0);
  transition: all 0.5s ease;
}

.main-title:hover .aka {
  color: rgba(0, 50, 100, 0.5);
}
