.main {
  font-family: sans-serif;
  display: block;
  max-width: 75em;
  margin: auto;
  padding: 1em 2em;
}

a {
  text-decoration: none;
  transition: all 0.2s ease;
}

a:hover {
  background-color: rgba(0, 100, 200, 0.5);
  padding: 0.2rem 0.3rem;
  margin: -0.2rem -0.3rem;
  color: white;
  border-radius: 0.5em;
}

.links {
  float: right;
}

li {
  margin: 0.7em 0;
}
