#experience {
  overflow: scroll;

  cv-history::part(group title) {
    order: 1
  }

  cv-history::part(group org) {
    order: 2;
  }

  cv-history::part(group date start) {
    order: 0
  }

  cv-history::part(group date end) {
    order: 3
  }
}
