@import "history/experience.css";
@import "people/people.css";

:root {
  --background-color: white;
  --color: black;
}

* {
  box-sizing: border-box;
  hyphens: auto;
}

.main-title {
  color: var(--background-color);
}

body {
  font-family: system-ui, sans-serif;
  display: flex;
  padding: 1em;
  flex-direction: column;
  width: 100%;
  max-width: 1000px;
  margin: auto;
  height: 100svh;
}

.content {
  height: fit-content;
}

.scrollable {
  overflow-y: auto;
  overflow-x: hidden;
}

details cv-search {
  display: none;
}

details[open] cv-search {
  display: inline;
}

cv-history::part(date end) {
  order: 4
}

cv-history::part(date start) {
  order: 0
}

cv-history::part(date duration) {
  margin-left: 0.5em;
  font-weight: normal;
  order: 5;
  display: none;
}
cv-history::part(date duration total) {
  display: inline;
}

cv-history::part(date duration)::before {
  content: "(";
}
cv-history::part(date duration)::after {
  content: ")";
}
@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
    --background-color: black;
    --color: lightgrey;
  }
}

@media print {
  button, input {
    display: none;
  }
}
