* {
  box-sizing: border-box;
}

body {
  font-family: system-ui, sans-serif;
  display: flex;
  padding: 1em;
  margin: 0;
  flex-direction: column;
  width: 100%;
  height: 100svh;
}
.people address {
  float: right;
}
.title {
  font-weight: bold;
}
.statement {
  font-style: italic;
}
.links {
  display: block;
  float: right;
}
#experience {
  overflow: scroll;
}
