#skills {
  cv-search {
    vertical-align: top;
  }

  summary:hover cv-search {
    visibility: visible;
  }

  cv-search:state(empty) {
    visibility: hidden;
  }

  summary::marker,summary::-webkit-details-marker {
    color: darkgray;
  }

  h2 {
    display: inline;
    user-select: none;
  }

  ul {
    margin-top: 0;
    padding-left: 1em;
  }

  ul.masonry {
    display: grid;
    grid-template-columns: repeat(auto-fill, 8px);
    grid-auto-rows: 8px;
    grid-auto-flow: row dense;
    justify-content: start;
    justify-items: start;
    align-items: start;
  }

  h2::after {
    color: darkgrey;
    content: " (...)";
  }

  &[open] h2::after {
    content: "";
  }
}
