#skills {
  cv-search {
    vertical-align: top;
  }

  summary:hover cv-search {
    visibility: visible;
  }

  cv-search:state(empty) {
    visibility: hidden;
  }

  summary::marker,summary::-webkit-details-marker {
    color: darkgray;
  }

  h2 {
    display: inline;
    user-select: none;
  }

  ul {
    margin-top: 0;
    padding-left: 1em;
  }

  h2::after {
    color: darkgrey;
    content: " (...)";
  }

  &[open] h2::after {
    content: "";
  }
}
